@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-round {
  stroke-linejoin: round;
}

.hold-marker {
  box-shadow: 0 1px 2px #0009, inset 0 1px 2px #0009;
}

.min-h-available {
  min-height: 100vh;
  min-height: calc(100 * var(--vh));
}

.h-available {
  height: 100vh;
  height: calc(100 * var(--vh));
}

.max-h-available {
  max-height: 100vh;
  max-height: calc(100 * var(--vh));
}

pinch-zoom {
  display: block;
  overflow: hidden;
  touch-action: none;
  --scale: 1;
  --x: 0;
  --y: 0;
}

pinch-zoom > * {
  transform: translate(var(--x), var(--y)) scale(var(--scale));
  transform-origin: 0 0;
  will-change: transform;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.snap-x-mandatory {
  scroll-snap-type: x mandatory;
}

.snap-y-mandatory {
  scroll-snap-type: x mandatory;
}

.snap-align-start {
  scroll-snap-align: start;
}

.snap-align-center {
  scroll-snap-align: center;
}

.snap-align-end {
  scroll-snap-align: end;
}

.fade-mask-x {
  mask: linear-gradient(90deg, #0000, #000, #000, #000, #000, #0000);
}
