@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-round {
  stroke-linejoin: round;
}

.hold-marker {
  box-shadow: 0 1px 2px #0009, inset 0 1px 2px #0009;
}

.min-h-available {
  min-height: 100vh;
  min-height: calc(100 * var(--vh));
}

.h-available {
  height: 100vh;
  height: calc(100 * var(--vh));
}

.max-h-available {
  max-height: 100vh;
  max-height: calc(100 * var(--vh));
}

pinch-zoom {
  display: block;
  overflow: hidden;
  touch-action: none;
  --scale: 1;
  --x: 0;
  --y: 0;
}

pinch-zoom > * {
  transform: translate(var(--x), var(--y)) scale(var(--scale));
  transform-origin: 0 0;
  will-change: transform;
}
